
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Football Kits!</title>
</head>

<body>
    <!-- Image and text -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                {% load static %}
                <img src="{% static 'rolls/logo.png' %}" alt="" width="100" height="94" class="d-inline-block align-top">
                Football Kits
            </a>
        </div>
    </nav>
    <div class="container my-5 text-center" style="max-width:580px">
        <h1>Football Kits!</h1>
        <p class="lead">Get the newest football kits from your favorite teams. Whether you're a fan of Barcelona, Real Madrid, or Manchester United, we have the perfect kit for you!</p>
        </p>
        <button type="button" class="btn btn-primary">Order now!</button>
        <button type="button" class="btn btn-secondary">Contact us</button>
    </div>


    <div class="container">
        <div class="row">
            {% for roll in rolls %}
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="{{ roll.immagine.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ roll.nome }} Kit</h5>
                        <p class="card-text">€{{ roll.prezzo }}</p>
                        <a href="#" class="btn btn-primary">Acquista</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>
